<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.roomarranger.android.dvanactka">

    <uses-permission android:name="android.permission.INTERNET" />  <!-- downloading data sources -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  <!-- sorting records by distance from user, maps -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />           <!-- maybe for notifications? -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/> <!-- For more precise notification timing  -->

    <uses-feature android:name="android.hardware.location.gps" />

    <queries>
        <!-- Specific intents you query for -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
    </queries>

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventCtl"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.MainActivity" />
        </activity>
        <activity
            android:name=".GameCtl"
            android:label="@string/game"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.MainActivity" />
        </activity>
        <activity
            android:name=".GameLeaderCtl"
            android:excludeFromRecents="true"
            android:label="@string/leaderboard"
            android:launchMode="singleTop"
            android:parentActivityName=".GameCtl"
            android:screenOrientation="fullSensor"
            android:theme="@android:style/Theme.Holo.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.GameCtl" />
        </activity>
        <activity
            android:name=".MapCtl"
            android:label="@string/map"
            android:launchMode="singleTop"
            android:parentActivityName=".EventCtl"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.EventCtl" />
        </activity>
        <activity
            android:name=".PlaceDetailCtl"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".EventCtl"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.EventCtl" />
        </activity>
        <activity
            android:name=".FilterCtl"
            android:label="@string/filter"
            android:launchMode="singleTop"
            android:parentActivityName=".EventCtl"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.EventCtl" />
        </activity>
        <activity android:name=".QuestionsCtl"
            android:launchMode="singleTop"
            android:parentActivityName=".EventCtl"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.EventCtl" />
        </activity>
        <activity
            android:name=".AppInfoCtl"
            android:label="@string/about_the_app"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.MainActivity" />
        </activity>
        <activity
            android:name=".ReportFaultCtl"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.MainActivity" />
        </activity>
        <activity
            android:name=".RefineLocCtl"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ReportFaultCtl"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.ReportFaultCtl" />
        </activity>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.roomarranger.android.dvanactka.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>