<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.roomarranger.android.dvanactka"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".EventCtl"
            android:launchMode="standard"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.MainActivity"/>
        </activity>
        <activity
            android:name=".PlacesFilterCtl"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.MainActivity"/>
        </activity>
        <activity
            android:name=".GameCtl"
            android:label="@string/game"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.MainActivity"/>
        </activity>
        <activity
            android:name=".MapCtl"
            android:label="@string/map"
            android:launchMode="singleTop"
            android:parentActivityName=".EventCtl">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.EventCtl"/>
        </activity>
        <activity
            android:name=".PlaceDetailCtl"
            android:launchMode="singleTop"
            android:parentActivityName=".EventCtl">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.EventCtl"/>
        </activity>
        <activity
            android:name=".FilterCtl"
            android:label="@string/filter"
            android:launchMode="singleTop"
            android:parentActivityName=".EventCtl">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.EventCtl"/>
        </activity>
        <activity
            android:name=".AppInfoCtl"
            android:label="@string/about_the_app"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.MainActivity"/>
        </activity>
        <activity android:name=".ReportFaultCtl"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.MainActivity"/>
        </activity>
        <activity android:name=".RefineLocCtl"
            android:launchMode="singleTop"
            android:parentActivityName=".ReportFaultCtl">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roomarranger.android.dvanactka.ReportFaultCtl"/>
        </activity>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
    </application>

</manifest>